.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: whitesmoke;
  width: 60%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.closeIcon {
  color: black;
  padding: 0.5vw;
  display: flex;
  margin-left: auto;
}
